{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>
html, body { height: 100%; }
/*body { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; padding-top: 40px; padding-bottom: 40px /*background-color: #f f5f5; */
.form-signin { width: 100%; max-width: 330px; padding: 15px; margin: auto; }
.form-signin .checkbox { font-weight: 400; }
.form-signin .form-control { position: relative; box-sizing: border-box; height: auto; padding: 10px; font-size: 16px; }
.form-signin .form-control:focus { z-index: 2; }
/*.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-right-radius: 0; border-bottom-left-radius: 0; }*/
/*.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }*/
</style>

<div style="position: relative; top: 50%; transform: translateY(-50%);">
    <form class="form-signin" method="post" action="/password_change">
        {% csrf_token %}

        <div style="text-align: center; width: 100%;">
            <img class="mb-4" src="{% static 'res/logo.png' %}" alt="" width="72">
        </div>

        <label>Current password</label>
        <input type="password" class="form-control" name="current_password" placeholder="Current password" required autofocus>
        <label>New password</label>
        <input type="password" class="form-control" name="new_password" placeholder="New password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        <p class="mt-5 mb-3 text-muted" style="text-align: center"><i class="icon-aleph"></i> Aleph</p>

        {% if message %}
        <p style="font-size: 12px; color:red; text-align: center">{{ message }}</p>
        {% endif %}

        {% if ok_message %}
        <p style="font-size: 12px; color:green; text-align: center">{{ ok_message }}</p>
        {% endif %}


    </form>
</div>
{% endblock %}
