<div style="background-color:rgba(255,255,255,0.99); font-size:14px; height: 56px; position: fixed; top:0; left:0; right:0; overflow: hidden; z-index: 9999; box-shadow: 0 8px 6px -6px rgba(0,0,0,0.4);">
	<div style="display: flex; align-items: stretch;">

		<div class="btn-group">
		  <button type="button" style="background-color:none" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Action
		  </button>
		  <div class="dropdown-menu">
		    <a class="dropdown-item" href="#">Action</a>
		    <a class="dropdown-item" href="#">Another action</a>
		    <a class="dropdown-item" href="#">Something else here</a>
		    <div class="dropdown-divider"></div>
		    <a class="dropdown-item" href="#">Separated link</a>
		  </div>
		</div>
		
	</div>
</div>