{% extends 'base.html' %}
{% load static %}

{% block body %}

<style>
  .grid_layout{ grid-template-columns: repeat(24,1fr); grid-gap: 0 !important; padding: 0; }
  button, label, .dropdown a, body, .btn, input, select, textarea{ font-size: 14px !important; }
  .tooltip{ font-size: 11px !important; }
  .close{ font-size: 26px !important; }
  .nav-link{ padding: 7px 12px;}
  .toast{ background-color: rgba(255,255,255,1); }
  body{ scrollbar-color: auto !important; }
</style>

<!-- ==================================== -->
<!-- NAMESPACE EXTRAS MODAL               -->
<!-- ==================================== -->
<div class="modal fade" id="namespace_extras_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle" style="font-family: Arial !important">Namespace extras</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Key: <span id="namespace_extras_namespace_key"></span></p>
        <p>Field: <span id="namespace_extras_field"></span></p>
        <label for="namespace_extras_alias_textbox">Alias</label>
        <input type="text" id="namespace_extras_alias_textbox"/>
        <label for="namespace_extras_tooltip_textbox">Tooltip</label>
        <textarea class="form-control" id="namespace_extras_tooltip_textbox" rows="3"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="upload_namespace_extras()">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- ==================================== -->
<!-- TOP BAR - LEFT -->
<!-- ==================================== -->
<div style="position: absolute; top: 0; left: 0; width: 250px; height: 52px; background-color: rgba(0,0,0,0.05); padding: 10px">
  <div class="form-inline" style="width: 100%">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="btn_namespace" href="#" onclick="show('namespace')">Namespace</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="btn_fields" href="#"  onclick="show('fields')">Fields</a>
      </li>
    </ul>
  </div>
</div>

<!-- ==================================== -->
<!-- TOP BAR - RIGHT -->
<!-- ==================================== -->
<div style="position: absolute; top: 0; left: 250px; right: 0; height: 52px; background-color: rgba(0,0,0,0.05); padding: 10px">
  <form class = "form-inline" role = "form">
    <div class="dropdown" style="margin-right: 3px">
      <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-right:8px">
        <label class="btn btn-primary active" id="btn_table_label">
          <input type="radio" name="options" id="btn_table" onclick="show('table')"> Table
        </label>
        <label class="btn btn-primary" id="btn_chart_label">
          <input type="radio" name="options" id="btn_chart" onclick="show('chart')"> Plot
        </label>
      </div>
    </div>
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-right:10px">
        Since
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item since-dropdown active" href="#" onclick="change_settings('since',0);" id="since0">Last value</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item since-dropdown" href="#" onclick="change_settings('since',1)" id="since1">24 hours</a>
        <a class="dropdown-item since-dropdown" href="#" onclick="change_settings('since',3)" id="since3">3 days</a>
        <a class="dropdown-item since-dropdown" href="#" onclick="change_settings('since',10)" id="since10">10 days</a>
        <a class="dropdown-item since-dropdown" href="#" onclick="change_settings('since',30)" id="since30">1 month</a>
      </div>
    </div>
    <div class="dropdown" style="margin-right: 10px">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_plot">
        Display
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" onclick="change_settings('show_points')">Show/Hide points</a>
        <a class="dropdown-item" href="#" onclick="change_settings('hv')">Linear/Manhattan</a>
        <a class="dropdown-item" href="#" onclick="change_settings('show_legend')">Show/Hide legend</a>
        <a class="dropdown-item" href="#" onclick="change_settings('freeze')">Freeze/Unfreeze</a>
        <a class="dropdown-item" href="#" onclick="change_settings('normalize')">Multiaxis</a>
      </div>
    </div>
    <!--div class="dropdown" style="margin-right: 10px">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Comparar
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Semana anterior</a>
        <a class="dropdown-item" href="#">Mes anterior</a>
        <a class="dropdown-item" href="#">Trimestre anterior</a>
        <a class="dropdown-item" href="#">Año anterior</a>
      </div>
    </div-->
    <div id="loading_icon" style="display: block;">
      <i class="icon-loading-3" style="font-size: 16px"></i>
    </div>


    <div class="btn-group ml-auto">
      <!--button id="btn_send_changes" type="button" class="btn btn-success" style="margin-right: 10px; border-radius: 4px;" onclick="btn_send_changes()"><i class="icon-send"></i> Empujar (0) cambios</button-->

      <button type="button" class="btn btn-primary" onclick="btn_refresh()" style="margin-right: 8px; border-radius: 4px;"><i class="icon-reload"></i></button>

      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="btn_more">
          More
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#" onclick="btn_download()">Download</a>
          <a class="dropdown-item" href="#" onclick="btn_clear()">Start again</a>
          <a class="dropdown-item" href="#" onclick="btn_deselect_all()">Deselect all</a>
          <a class="dropdown-item" href="#" onclick="load_namespace_extras()">Namespace extras</a>
          <a class="dropdown-item" href="#" onclick="edit()" id="edit_btn">Enable edition</a>
        </div>
      </div>
    </div>

  </form>
</div>

<!-- ==================================== -->
<!-- LEFT PANEL -->
<!-- ==================================== -->
<div style="position: fixed; top: 52px; left: 0; bottom: 0; width: 250px; border: 1px solid gray; border-left: 0px; border-bottom: 0px; overflow-y: auto;">

  <div id="namespace_view">
  </div>

  <div id="fields_view">
    <input type="text" class="form-control" id="searchbox" autocomplete="off" placeholder="Search" style="margin: 0; padding:12px; width: 100%; height:41px; border: none; outline:0px !important; -webkit-appearance:none; box-shadow: none !important;" onkeyup="search(this.value)">
    <div id="fields_view_sub"></div>
  </div>

</div>

<!-- ==================================== -->
<!-- RIGHT PANEL -->
<!-- ==================================== -->
<div style="position: fixed; top: 52px; left: 250px; right: 0; bottom: 0; border-top: 1px solid gray">

  <div id="table_view" style="width:100%; height:100%; overflow-y: auto">
  </div>

  <div id="plot_view" style="width:100%; height:100%;">
  </div>

</div>

<script>

  // ============================================================
  // buttons / ui
  // ============================================================

  function show(key){
    if(key == "namespace"){
      $("#btn_namespace").addClass("active");
      $("#btn_fields").removeClass("active");
      $("#namespace_view").show()
      $("#fields_view").hide()
    }
    if(key == "fields"){
      $("#btn_namespace").removeClass("active");
      $("#btn_fields").addClass("active");
      $("#namespace_view").hide()
      $("#fields_view").show()
    }

    ///
    if(key == "table"){
      $("#table_view").show()
      $("#plot_view").hide();
      //$("#eidition_view").hide();
      $("#btn_plot").hide();
      $("#btn_table_label").addClass("active");
      $("#btn_chart_label").removeClass("active");
      //$("#btn_edition_label").removeClass("active");
    }
    if(key == "chart"){
      $("#table_view").hide();
      $("#plot_view").show();
      //("#eidition_view").hide();
      $("#btn_plot").show();
      $("#btn_chart_label").addClass("active");
      $("#btn_table_label").removeClass("active");
      //$("#btn_edition_label").removeClass("active");
      load_plot();
    }
    if(key == "edition"){
      $("#table_view").hide();
      $("#plot_view").hide();
      //$("#eidition_view").show();
      $("#btn_plot").show();
      $("#btn_edition_label").addClass("active");
      $("#btn_chart_label").removeClass("active");
      //$("#btn_table_label").removeClass("active");
    }
   }

  function change_settings(key, value=null){
    if(value != null && options[key] == value) return;

    if(value == null) options[key] = !options[key];
    else options[key] = value;

    load_plot();
    load_table();

    if(key == "since") {
      $(".since-dropdown").removeClass("active");
      $("#since" + value).addClass("active");

      if(value == 0){
        options.count = 1;
        options.since = 1000;
      }
      else options.count = 10000;

      on_changed_since();
    }
  }

  function btn_download(){
    TableView.download_csv("data");
  }

  function btn_clear(){
    loading = 0;
    fields = {};
    data = {};
    data_plot = {};
    show("namespace");
    $("#btn_fields").hide();
    load_plot();
    load_table();
    load_nodes();
  }

  function btn_deselect_all(){
    for(const n in nodes){
      let node = nodes[n];
      for(const field in fields[node]){
        fields[node][field].selected = false;
      }
    }
    load_plot();
    load_table();
    load_fields(NamespaceTree.selected_node);
  }

  function btn_refresh(){
    let sn = NamespaceTree.selected_node;
    for(const field in fields[sn]){
      fields[sn][field].downloaded = false;
      data[sn] = [];
    }
    download_data(sn, options.since, options.count);
  }

  function search(text){
    if(FieldsTree != null){
      FieldsTree.search(text);
    }
  }

  function set_loading(on = true){
    if(on) loading += 1;
    else loading -= 1;

    if(loading < 0) loading = 0;

    if(loading > 0){ $("#loading_icon").show() }
      if(loading == 0){ $("#loading_icon").hide() }
    }


  // Globals

  var NamespaceTree = null;
  var FieldsTree = null;
  var TableView = null;
  var PlotView = null;

  var options = {
    since : 1000,
    count : 1,

    hv : true,
    show_points : false,
    show_legend : true,
    normalize : false,
    freeze : false,

    edition_enabled : false,
  }

  var nodes = []; // list of nodes
  var fields = {}; // dict {node: {field:{properties}}}
  var data = {};  // dict {node:[{t,field1,...},...]}
  var data_plot = {}; // dict {node: {field: {x:[], y:[]}}}
  var changes = {} // data that was changed

  var loading = 1;


  /*var mqtt_host = "wss://" + window.location.hostname + "/mqtt";
  if(window.location.protocol == "http:") mqtt_host = "ws://" + window.location.hostname + ":1883";

  var mclient = mqtt_connect(mqtt_host,"admin","Sp7YBf3CHGAv57DkBLDrVdt3XBZ6rQjC4c5xgPyvAb6jAJSPtXHnjdhjMnFurvWd",[],function(topic, message){
    if(options.since != 0) return;

    node = topic.replaceAll("/",".");

  if(!(node in data)) data[node] = [];
  if(!(node in data_plot)) data_plot[node] = {};

    d = JSON.parse(message);
    data[node].splice(0,0,d);
    update_data_plot(node);

    load_table();
    load_plot();
  })*/

// ============================================================
// main functions
// ============================================================

// on_changed_since(): called when options.since changes
// update_data_plot(): rearranges the data to make it easier to plot
// download_nodes(): makes an http request and fills the nodes array
// load_nodes(): takes the nodes array and populates the NamespaceTree
// download_fields(): makes an http request and fills the fields object
// load_fields(): takes the fields object and populates the FieldsTree
// download_data(): makes an http request and fills the data object
// load_table(): takes the data object and populates the TableView
// load_plot(): takes the data object and populates the PlotView
// clear_data(): clears all data
// set_namespace_extra(): makes an http request to set namespace extras


function on_changed_since(){
  data = {};
  data_plot = {}

  for(const node in fields){
    for(const field in fields[node]){ fields[node][field].downloaded = false }
      download_data(node, options.since, options.count);
  }

}

function download_nodes(after = function(){}){
  set_loading(true);
  try{
    if(nodes.length == 0){
      $.post("/api/namespace", { csrfmiddlewaretoken: csrftoken },function(result){
        nodes = result;
        set_loading(false);
        after();
      }).fail(function(result){
        show_toast("toasts_area","<a style='color:red'>Error</a>","","Hubo un error en la conexión con el servidor. Intente actualizando la página.");
      });
    }
  }catch(err){
    set_loading(false);
    show_toast("toasts_area","<a style='color:red'>Error</a>","",err.message);
  }
}

function download_fields(node, after = function(){}){
  set_loading(true);
  try{
  $.post("/api/namespace/" + node + "/fields", { csrfmiddlewaretoken: csrftoken },function(result){
    fields[node] = {};

    console.log(result)
    // sort fields so that fields with aliases are first, and the rest sort alphabetically
    result = result.sort(function(a,b){
      if("alias" in a && "alias" in b){
        if(a.alias < b.alias) return -1;
        if(a.alias > b.alias) return 1;
        return 0;
      }

      if("alias" in a && !("alias" in b)) return -1;
      if("alias" in b && !("alias" in a)) return 1;

      if(a.path < b.path) return -1;
      if(a.path > b.path) return 1;

      return 0;
    });

    for(const f in result){
      prop = result[f];
      prop.selected = false;
      prop.downloaded = false;

      let alias = "alias" in prop && prop.alias != "" ? prop.alias : prop.path;
      prop.key = prop.path;
      prop.path = alias;
      fields[node][alias] = prop;
    }
    set_loading(false);
    after();
  }).fail(function(result){
    show_toast("toasts_area","<a style='color:red'>Error</a>","","Hubo un error en la conexión con el servidor. Intente actualizando la página.");
  });
  }catch(err){
    set_loading(false);
    show_toast("toasts_area","<a style='color:red'>Error</a>","",err.message);
  }
}

function download_data(node, since, count, after = function(){}){
  set_loading(true);
  try{
    // get selected fields whose data hasn't been downloaded before
    selected_fields = [];
    for(const field in fields[node]){

      let is_selected = fields[node][field].selected;
      let is_downloaded = fields[node][field].downloaded;

      //if(("id_" in fields[node] || is_selected) && !is_downloaded){
      if(is_selected && !is_downloaded){
        fields[node][field].downloaded = true;
        selected_fields.push(fields[node][field].key);
      }
      }

      if(selected_fields.length == 0){
        set_loading(false);
        return;
      }

    // download data
    $.post("api/namespace/" + node + "/data", { csrfmiddlewaretoken: csrftoken, fields: selected_fields, since: since, count: count }, function(result){
      if(!(node in data)) data[node] = [];
      data[node] = result.concat(data[node]);
      data[node].sort(function(a,b){return new Date(b.t) - new Date(a.t);});
      update_data_plot(node);
      load_table();
      load_plot();
      set_loading(false);
      after();
    }).fail(function(result){
      show_toast("toasts_area","<a style='color:red'>Error</a>","","Hubo un error en la conexión con el servidor. Intente actualizando la página. (*)");
    });
  }catch(err){
    set_loading(false);
    show_toast("toasts_area","<a style='color:red'>Error</a>","",err.message);
  }
}


// reaccomodates the data to make it easier to plot it
function update_data_plot(node){
  if(!(node in data)) return;
  data_plot[node] = {};

  result = data[node];
  for(const item in result){
    for(const field in result[item]){
      if(!(field in data_plot[node])){
        data_plot[node][field] = {};
        data_plot[node][field].x = [];
        data_plot[node][field].y = [];
      }

      if(result[item][field] != null){
        let v = result[item][field];
        if(typeof v == "boolean") v = v ? 1 : 0;
        data_plot[node][field].x.push(result[item]["t"]);
        data_plot[node][field].y.push(v);
      }
    }
  }
}

function load_nodes(){
  let tree_view_data = [];
  for(const n in nodes){
    let node = nodes[n];
    tree_view_data.push({path : node, prefix : '<i class="icon-tags"></i>'});
  }

  NamespaceTree = new Subtle.TreeView("namespace_view", tree_view_data, {path_separator : ".", show_arrows : true, on_select : function(){
    if(nodes.includes(NamespaceTree.selected_node)){

      // load fields
      load_fields(NamespaceTree.selected_node);

      // show fields
      let node_ = NamespaceTree.selected_node.split(".");
      let node = node_[node_.length-1];
      $("#btn_fields").html(node);
      $("#btn_fields").show();
      show("fields");

      // show table
      load_table();

    } else {
      $("#btn_fields").hide();
    }
   }});

  NamespaceTree.collapse_all();
  $(function () { $('[data-toggle="tooltip"]').tooltip() })
}

function load_fields(node){
  if(node == "") return;

  if(node in fields){


    let tree_view_data = [];
    for(const f in fields[node]){
      let field = fields[node][f];
      //if(field.path == "id" || field.path == "id_" || field.path == "t" || field.path == "time"){ continue }
      if(field.path == "id" || field.path == "t" || field.path == "time"){ continue }
      tree_view_data.push(field);
    }


    FieldsTree = new Subtle.TreeView("fields_view_sub", tree_view_data, {path_separator : ".", show_arrows : true, auto_sort:false, show_checkboxes : true, on_checkbox_changed : function(){
              // on checkbox changed

              // add/remove selected fields
              for(const field in FieldsTree.nodes_checkbox_state){
                fields[node][field].selected = FieldsTree.nodes_checkbox_state[field];
              }

              // Logic
              // 1. If real time (options.since == 0)
              //    1.1. Subscribe to topic (node)
              // 2. If not real time
              //    2.1. Get selected fields that haven't been downloaded already
              //    2.2. Downloaded filtered fields
              //    2.3. After download:
              //         2.3.1. Set data = downloaded data
              //         2.3.2. Update plot data

              if(!(node in data)) { data[node] = [] }

                download_data(node, options.since, options.count);

              load_table();
              load_plot();

          }});

          // checked already checked nodes_checkbox_state
          for(const n in fields[node]){
            let field = fields[node][n];

            if(!field.selected) continue;

            document.getElementById("chkbox_fields_view_sub_node_" + field.path).checked = true;
            FieldsTree.nodes_checkbox_state[field.path] = true;
          }


      } else {
        document.getElementById("fields_view_sub").innerHTML = "";
        load_table();

          // fetch fields
          // download_data(node, function(){load_table(); load_plot();});
          download_fields(node, function(){load_fields(node);});

      }

      /*if(FieldsTree != null){
        FieldsTree.collapse_all();
      }*/
      $(function () { $('[data-toggle="tooltip"]').tooltip() })
  }

  function load_table(){
    set_loading(true);
    // get current node
    let sn = NamespaceTree.selected_node;
    if(!fields[sn]){
      $("#table_view").html("");
      set_loading(false);
      return;
    }

      // create a 'headers' array and an 'aliases' dict to display custom headers on the table
      let my_headers = [];
      let aliases = {};

      // if not id'd data, show 't'
      if(!("id_" in fields[sn])) { my_headers.push("t"); }

      // add headers and aliases for each field in current node
      for(const field in fields[sn]){
        if(!fields[sn][field].selected) continue;
        my_headers.push(fields[sn][field].key);
        aliases[fields[sn][field].key] = field;
      }

      // create table control
      TableView = new Subtle.Table("table_view",{ headers : my_headers, row_header_width: 50, max_displayed_data : 10000, header_aliases: aliases, insert_on_top: true, null_cell_text:'-', nullable_columns: ["t"] });

      // fill table controll manually
      for(const row in data[sn]){
        rid = "id_" in data[sn][row] ? data[sn][row]["id_"] : data[sn][row]["t"];


        if(rid in TableView.data) { TableView.data[rid] = Object.assign(TableView.data[rid], data[sn][row]); }
        else { TableView.data[rid] = data[sn][row]; }

        if(rid > 10000) continue;
      }

      /*for(const row in data[sn]){
          TableView.update("id_" in data[sn][row] ? data[sn][row]["id_"] : "",data[sn][row]);
      }*/

      // update and draw control
      TableView.update();
      TableView.draw();
      set_loading(false);
  }

  function load_plot(){
    set_loading(true);
    if(options.freeze){
      set_loading(false);
      return;
    }

    traces = [];
    let y_ = 0;
    for(const node in fields){
      for(const field in fields[node]){
        let key = fields[node][field].key;
        if(!(node in data_plot)) continue;
        if(!fields[node][field].selected) continue;
        if(!(key in data_plot[node])) continue;

        y_++;
        traces.push({
          x: data_plot[node][key].x,
          y: data_plot[node][key].y,
          type: 'scatter',
          mode: options["show_points"] ? 'lines+markers' : 'lines',
          line: {shape: options["hv"] ? 'vh' : 'linear'},
          name: field,
          yaxis: options["normalize"] ? "y" + y_ : "y",
        });
      }
    }

    var layout = {
      margin: {b: 25, t: 15, l: 45, r: 25},
      xaxis:{
        type:"date",
        rangeslider: { autorange: true, },
      },
      showlegend : options["show_legend"],
      legend : { orientation: "h", x:0, y:1.2 },

      yaxis : { visible : options["normalize"] ? false : true, fixedrange: false },
    };

    if(options["normalize"]){
      for(let i = 0; i <= y_; i++){
        layout["yaxis" + i] = { overlaying: "y", visible: false, fixedrange: false }
      }
    }

    Plotly.newPlot(document.getElementById("plot_view"), traces, layout , {displaylogo: false, modeBarButtonsToRemove: ['toImage','zoom2d', 'pan2d', 'select2d', 'lasso2d', 'zoomIn2d', 'zoomOut2d', 'autoScale2d']}); //'resetScale2d'

    set_loading(false);
  }


  function load_namespace_extras(){
    let sn = NamespaceTree.selected_node;
    let sf = FieldsTree.selected_node;

    let field = fields[sn][sf];
    if(!field) return;

    $("#namespace_extras_alias_textbox").val(field["alias"]);
    $("#namespace_extras_tooltip_textbox").val(field["tooltip"]);

    $("#namespace_extras_namespace_key").html(sn);
    $("#namespace_extras_field").html(field["key"]);

    $('#namespace_extras_modal').modal('show');
  }

  function upload_namespace_extras(){
    set_loading(true);
    try{
      let node = $("#namespace_extras_namespace_key").html();
      let field = $("#namespace_extras_field").html();
      let alias = $("#namespace_extras_alias_textbox").val();
      let tooltip = $("#namespace_extras_tooltip_textbox").val();
      $('#namespace_extras_modal').modal('hide');

      $.post("/api/namespace/" + node + "/set_extra", { csrfmiddlewaretoken: csrftoken, field: field, alias: alias, tooltip: tooltip}, function(result){
        set_loading(false);
        if("r" in result){
          if(result.r == 0){
            show_toast("toasts_area","Ok","","Namespace updated successfully");
            download_fields(NamespaceTree.selected_node, function(){
              load_fields(NamespaceTree.selected_node);
            });
          } else {
            show_toast("toasts_area","<a style='color:red'>Error</a>","",result.result);
          }
        }
      }).fail(function(result){
        show_toast("toasts_area","<a style='color:red'>Error</a>","","Hubo un error en la conexión con el servidor. Intente actualizando la página.");
      });
    }catch(err){
      set_loading(false);
      show_toast("toasts_area","<a style='color:red'>Error</a>","",err.message);
    }
  }

  function disable_edition(){
    if(options.edition_enabled){
      options.edition_enabled = false;
      document.getElementById("edit_btn").innerHTML = "Habilitar edición";
      TableView.params.content_editable = false;
    }
  }

  function edit(){
    if(!TableView) return;

    if(!("id_" in fields[NamespaceTree.selected_node])){
      show_toast("toasts_area","<a style='color:red'>Error</a>","","Only data with id_ is editable");
      return;
    }

    if(!options.edition_enabled){
      options.edition_enabled = true;
      document.getElementById("edit_btn").innerHTML = "Publicar cambios";
      TableView.params.content_editable = true;
      TableView.draw();
      return;
    }

    set_loading(true);

    try{
      let changes = TableView.get_changes();
      let data = [];
      for(const id_ in changes){
        changes[id_]["id_"] = id_;
        data.push(changes[id_]);
      }
      let key = NamespaceTree.selected_node;

      $.post("/api/namespace/" + key + "/publish", { ccsrfmiddlewaretoken: csrftoken, data: JSON.stringify(data) }, function(result){
        set_loading(false);
        if("r" in result){
          if(result.r == 0){
            show_toast("toasts_area","Ok","","Changes published successfully");
          } else {
            show_toast("toasts_area","<a style='color:red'>Error</a>","",result.result);
          }
        }
      }).fail(function(result){
        show_toast("toasts_area","<a style='color:red'>Error</a>","","Hubo un error en la conexión con el servidor. Intente actualizando la página.");
      });
    }catch(err){
      set_loading(false);
      show_toast("toasts_area","<a style='color:red'>Error</a>","",err.message);
    }
  }


  // init
  $( document ).ready(function() {
    download_nodes( function(){ load_nodes() } );
    show("namespace");
    set_loading(false);
    $("#btn_fields").hide();
    $(function () { $('[data-toggle="tooltip"]').tooltip() })
    show("table");
  });




</script>

{% endblock %}
